body {
	font-family: sans-serif;
	padding: 2px;
	margin: 0;
	user-select: none;
	border: 6px solid white;
	background: white;
	
	transition:	border-color, background-color;
	transition-duration: 0.5s;
	
	display: flex;
	flex-direction: column;
	height: 100vh;
	box-sizing: border-box;
	justify-items: stretch;
}

main {
	flex-grow: 1;
	flex-shrink: 1;
}

main, footer {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
}

body > main > *, footer > *{
	width: 32%;
	box-sizing: border-box;
}

body > main > * {	
	border: 1px solid #ccc;
	padding: 4px;
	background: #f6f6f6;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: opacity, color, background-color, border-color, ease-in-out 0.1s;
}

canvas {
	flex-shrink: 1;
	min-height: 0;
	width: 100%;
	object-fit: contain;
}

#Alice {
	cursor: pointer;
}

.mid_drag {
	border-color: red;
	background: #fff4f4;
}

#Alice:hover {
	color: red;
	border-color: red;
	background: #fff0f0;
}

#get_image { display: none; }

footer {
	display: flex;
	flex-shrink: 0;
}

footer h2 {
	flex-basis: 100%;
}

footer fieldset {
	width: 32%;
	box-sizing: border-box;
	border: 0;
}

footer fieldset label {
	display: block;
}

output[for="error_probability"] {
	width: 3.5em;
	text-align: right;
}

#error_probability {
	width: 100%;
}

#message_units span {
	display: none;
}

/* Infobox tooltips */

#info {
	padding: 4px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fafafa;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 2px 15px black;
	min-height: 8ex;
	display: flex;
	transition: opacity 0.15s;
}

#info aside {
	align-self: center;
	font-size: 4ex;
	margin: 12px;
}

.emoji {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}

[title] {
	cursor: help;
	text-decoration: dotted underline;
}

[title]:hover {
	color: #800;
}

.hidden, details {
	opacity: 0;
}