/* Main page setup */

body {
	font-family: sans-serif;
	padding: 2px;
	margin: 0;
	user-select: none;
	border: 6px solid white;
	background: white;
	
	transition:	border-color, background-color;
	transition-duration: 0.5s;
	
	display: flex;
	flex-direction: column;
	height: 100vh;
	box-sizing: border-box;
	justify-items: stretch;
}

.mid_drag {
	border-color: red;
	background: #fff4f4;
}

main {
	flex-grow: 1;
	flex-shrink: 1;
}

body > main, footer {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
}

body > main > *, footer > *{
	width: 32%;
	box-sizing: border-box;
}

body > main > * {	
	border: 1px solid #ccc;
	padding: 4px;
	background: #f6f6f6;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: opacity, color, background-color, border-color, ease-in-out 0.1s;
}

canvas {
	flex-shrink: 1;
	min-height: 0;
	width: 100%;
	object-fit: contain;
}

.no-canvas-scaling canvas {
	image-rendering: pixelated;
}

footer {
	display: flex;
	flex-shrink: 0;
}

/* #Alice can be clicked to upload a file */
#Alice:hover {
	cursor: pointer;
	color: red;
	border-color: red;
	background: #fff0f0;
}

#get_image { display: none; }

main section {
	position: relative;
}

main section aside {
	display: none;
	position: absolute;
	padding: 4px;
	top: 0px;
	right: 0px;
	border-radius: 0 0 0 10px;
	color: white;
}

body.image_provided main section aside {
	display: block;
}

main aside label {
	display: none;
	vertical-align: middle;
}

main section:hover aside label {
	display: inline;
}

main aside output {
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
}

/* The other section's canvases change on hover. Change the background to highlight this */

canvas.diff {
	display: none;
}

#Bob:hover canvas:not(.diff), #Bob_decoded:hover canvas:not(.diff) {
	display: none;
}

#Bob:hover canvas.diff, #Bob_decoded:hover canvas.diff {
	display: block;
}

#Bob:hover, #Bob_decoded:hover {
	border-color: #888;
	background: #e8e8e8;
}

/* The footer contains settings and statistics */
footer fieldset {
	line-height: 1.25;
	border: 0;
}

#error_probability {
	width: 100%;
}

/* Histogram */

#uncoded_bit_error_distribution {
	position: relative;
	display: flex;
	height: 100px;
	align-items: flex-end;
}

#uncoded_bit_error_distribution div {
	background: #9de;
	height: 0px;
	flex-grow: 1;
	justify-content: space-between;
	margin: 0 0.5%;
	transition: height 0.1s;
}

#uncoded_bit_error_distribution .mode {
	background: #08c;
}

#uncoded_bit_error_distribution header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
}

/* Infobox tooltips */

#info {
	padding: 4px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: 50%;
	background: #fafafa;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 2px 15px black;
	min-height: 8ex;
	display: flex;
	transition: opacity 0.15s;
}

.hidden {
	display: none !important;
}

#info aside {
	/* align-self: center; */
	font-size: 4ex;
	margin: 12px;
}

.emoji {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}

#info main, #info #about {
	overflow: auto;
	padding-right: 8px;
}

#info #about {
	display: none;
}

#info.show_about #about {
	display: block;
}

#info.show_about main {
	display: none;
}

#close {
	margin-left: 6px;
}

/* Tooltip sources */

[id][title], [for][title] {
	cursor: help;
	text-decoration: underline;
	text-decoration-skip: ink;
}

[id][title]:hover, [for][title]:hover {
	text-shadow: 0 0 1.5ex currentColor;
}

output {
	text-decoration: none !important;
}
